
body {

    background-image:url("http://img14.deviantart.net/edd5/i/2008/126/1/d/grunge_iv_by_struckdumb.jpg")
}


.title {
	text-align:center;
	font-size:150px;
  text-shadow: 0 5px 3px #8f8f8f;
}


.correct {
	color:rgb(13, 255, 0);
}


.incorrect {
	color:crimson;
}


.form-group > div {
	font-size: 45px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
  color: white;
}


h1.correct, h1.incorrect {
	width:400px;
}
